*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: white;
  color: black;
  overflow-x: hidden;
}
#resume{
  background-color: black;
  color: white;
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  font-family: 'Dosis', sans-serif;
  display: none;
}
#resume nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 40px 20px 40px;
}
.resume-navbar div{
  background-color: white;
  height: 2px;
  margin: 8px;
  position: relative;
}
.resume-navbar div:first-of-type{
  width: 40px;
  transform: rotate(45deg) translate(7px);
}
.resume-navbar div:last-of-type{
  width: 40px;
  transform: rotate(-45deg) translate(7px);
}
.resume-content{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 50px;
}
.resume-content h1{
  font-size: 2rem;
  letter-spacing: 6px;
  margin-bottom: 10px;
}
.resume-content div:first-of-type a{
  text-decoration: none;
  color: white;
}
.resume-content div:first-of-type a:first-of-type{
  margin-right: 20px;
}
.resume-download{
  margin-top: 50px;
}
.resume-download a{
  font-family: 'Noto Serif', serif;
  font-size: 3rem;
  
}
.resume-content__nav ul{
  list-style: none;
}
.resume-content__nav ul li{
  padding: 10px 0 10px 0;
}
.resume-content__nav ul li a{
  text-decoration: none;
  color: white;
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
}
.resume-content__nav ul li a:hover{
  letter-spacing: 10px;
}
#header nav div:first-of-type h1{
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
}
#header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 40px 20px 40px;
}
.navbar{
  position: relative;
}
.navbar div{
  background-color: black;
  height: 2px;
  margin: 8px;
  position: relative;
}
.navbar div:first-of-type{
  width: 40px;
  
}
.navbar div:last-of-type{
  width: 32px;
  
}
#details{
  margin-top: 50px;
}
.details-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 80px 20px 80px;
}
.details-container div:first-of-type{
  font-family: 'Dosis', sans-serif;
}
.details-container div:first-of-type p:first-of-type span{
  font-weight: 700;
}
.details-container div:first-of-type h1{
  margin: 20px 0 20px 0;
  font-size: 4rem;
}
.details-container div:last-of-type img{
  width: 300px;
  height: 300px;
}
#projects{
  font-family: 'Dosis', sans-serif;
  margin-top: 50px;
}
#projects>h1{
  margin: 0 0 20px 40px;
  font-size: 2rem;
}
.payment-app__project{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.payment-app__project div:first-of-type h1{
  margin-left: 40px;
  font-size: 1.5rem;
}
.payment-app__project div:first-of-type p{
  margin-left: 40px;
  max-width: 50%;
  font-size: 1.2rem;
}
.payment-app__project div:last-of-type h1{
  margin-left: 40px;
  font-size: 1.5rem;
}
.payment-app__project div:last-of-type p{
  margin-left: 40px;
  max-width: 50%;
  font-size: 1.2rem;
}
.site-links{
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 30px;
}
.site-links div button{
  background-color: white;
  color: black;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.5);
}
.site-links div button a{
  text-decoration: none;
  color: black;
}
#contact{
  margin-top: 30px;
  font-family: 'Dosis', sans-serif;
}
#contact>p{
  font-size: 2.5rem;
}
#contact>h1, p{
  margin-left: 40px;
  margin-bottom: 40px;
}
.contact-details{
  margin-left: 40px;
  margin-right: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-details div a{
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
#contact h3{
  font-size: 0.8rem;
  margin: 40px 0 0 20px;
}
@media(min-width: 768px) and (max-width: 1024px){
  .details-container{
    margin: 40px;
  }
  .payment-app__project div:first-of-type p{
    margin-left: 20px;
    max-width: 70%;
    font-size: 1.2rem;
  }
  .payment-app__project div:last-of-type p{
    margin-left: 20px;
    max-width: 70%;
    font-size: 1.2rem;
  }
  .site-links{
    max-width: 60%;
  }
  .contact-details{
    margin-right: 40px;
  }
}
@media(max-width: 500px){
  body{
    overflow-x: hidden;
  }
  
  #header nav{
    
    margin-right: 10px;
    
  }
  .details-container{
    flex-direction: column; 
    margin: 10px;
  }
  .details-container div:first-of-type h1{
    margin: 10px 0 10px 0;
    text-align: center;

  }
  .details-container div:first-of-type p{
    margin: 0;
    text-align: center;
  }
  .details-container div:last-of-type img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }
  #projects>h1{
    margin: 10px 0 10px 0;
    font-size: 2rem;
    text-align: center;
  }
  .payment-app__project{
    flex-direction: column;
  }
  .payment-app__project div:first-of-type h1{
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0 10px 0;
  }
  .payment-app__project div:first-of-type p{
    text-align: center;
    max-width: 100%;
    font-size: 1.2rem;
    margin: 0;
  }
  .payment-app__project div:last-of-type h1{
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0 10px 0;
  }
  .payment-app__project div:last-of-type p{
    text-align: center;
    max-width: 100%;
    font-size: 1.2rem;
    margin: 0;
  }
  .pizza-project{
    margin-top: 20px;
  }
  .site-links{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }
  .contact-details{
    flex-direction: column;
    margin: 0;
    justify-content: space-around;
    text-align: center;
  }
  .contact-details div a{
    font-size: 1.5rem;
  }
  #contact>h1, p{
    text-align: center;
    margin: 10px 0 10px 0;
  }
}